body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #c4c4c4;
}

header {
  height: 150px;
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  img {
    height: 70px;
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;

    li {
      background-color: #424242;
      color: #fff;
      padding: 10px 30px;
      border-radius: 5px;
      cursor: pointer;

      &:active {
        background-color: orangered;
      }
    }
  }
}

main {
  img {
    width: 100%;
  }
}

.main-container {
  background-color: #c4c4c4;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 50%;

  h1 {
    color: orangered;
  }

  hr {
    color: #424242;
    height: 2px;
  }

  .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section1 article img {
    width: 100px;
  }

  .section1 article {
    display: flex;

    p {
      margin-top: 50px;
      padding: 10px;
    }

    h2 {
      font-size: 14px;
      color: #424242;
    }
  }
  .section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    article {
      width: 230px;
      background-color: #fff;

      h2,
      p {
        padding: 10px;
        margin: 0;
      }
    }
  }
}

footer {
  background-color: #c4c4c4;
  margin: 0 0 30px 0;
  width: 50%;
  display: flex;
  justify-self: center;
  justify-content: space-between;

  * {
    margin: 0;
  }

  .footer-sec-1 {
    display: flex;
    flex-direction: column;

    .footer-sec-1-txt {
      font-size: 16px;
      color: orangered;
    }

    div {
      display: flex;
      width: 50%;

      p {
        color: #fff;
        background-color: #424242;
        padding: 10%;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
  span{
    color: orangered;
  }

  .last-footer-container{
    width: 300px;
  }
}
