main {
  img {
    width: 100%;
  }
}

.main-container {
  background-color: #c4c4c4;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 50%;

  h1 {
    color: orangered;
  }

  hr {
    color: #424242;
    height: 2px;
  }

  .section1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section1 article img {
    width: 100px;
  }

  .section1 article {
    display: flex;

    p {
      margin-top: 50px;
      padding: 10px;
    }

    h2 {
      font-size: 14px;
      color: #424242;
    }
  }
  .section2 {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    article {
      width: 230px;
      background-color: #fff;

      h2,
      p {
        padding: 10px;
        margin: 0;
      }
    }
  }
}
